{
  "plugins": ["stylelint-order"],
  "rules": {
    "block-no-empty": true,
    "no-duplicate-selectors": null,
    "number-leading-zero": "always",
    "order/order": ["custom-properties", "declarations"],
    "order/properties-order": ["width", "height"]
  }
}
