h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

.App {
  text-align: center;
  background-color: rgb(60, 64, 65);
  width: 100vw;
  height: 100vh;
  min-width: 800px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 48px;
}

.sub-contents-container {
  display: flex;
  box-sizing: border-box;
  padding: 0 30px;
  width: 100%;
  min-width: 500px;
  height: 80px;
  justify-content: flex-end;
  align-items: baseline;
  gap: 20px;
}

.score {
  margin-top: 12px;
}
.contents-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.playarea {
  margin-top: 10px;
  max-height: 600px;
  max-width: 1000px;
  width: 50vw;
  height: 60vh;
  min-height: 300px;
  min-width: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.targetItem1 {
  background-color: brown;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.targetItem2 {
  background-color: rgb(32, 171, 48);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.targetItem3 {
  background-color: rgb(31, 10, 192);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.button-container {
  height: 80px;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.result-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50% - 80px;
  left: 50% - 150px;
  width: 500px;
  height: 300px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.805);
  border-radius: 20px;
}

.result-container button {
  margin-top: 12px;
}

.confirmed-result-button {
  margin-top: 12px;
}
