h1,
h2 {
  margin: 0;
  padding: 0;
}
button {
  height: 40px;
  width: 80px;
  border-radius: 10px;
}

.App {
  text-align: center;
  background-color: rgb(157, 211, 213);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 48px;
}

.score {
  margin-top: 12px;
}
.contents-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.playarea {
  margin-top: 40px;
  max-height: 600px;
  max-width: 1000px;
  height: 60vh;
  width: 50vw;
  min-height: 300px;
  min-width: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.targetItem1 {
  background-color: brown;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.targetItem2 {
  background-color: rgb(32, 171, 48);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.targetItem3 {
  background-color: rgb(31, 10, 192);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.button-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.result-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50% - 80px;
  left: 50% - 150px;
  height: 160px;
  width: 300px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  background-color: rgba(129, 136, 177, 0.5);
  border-radius: 20px;
}
